<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
<head>
    <style type = "text/css">
        *
        {
            font-size: 18px;
        }

        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<div class="container">
<header>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <form  method="POST" th:action="@{'students/add-in-course'}">
        <h2>Select the student to enroll:</h2>
        <a class="btn btn-success" th:href="@{'students/create-student'}" type='button'>Create New Student</a> <br/> <br/>

        <input id="studentRadio" th:type="radio" th:value="${student.getUsername()}" th:name="username" th:each="student: ${students}" th:utext="${student.getName()} + ' ' + ${student.getSurname()} + '<br/>'">

        <br/>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</section>
<aside>
    <table class="table">
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td th:text="${session.courseID}"></td>
        </tr>
    </table>
</aside>
</div>
</div>
