<div xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <header>
        <h1 style="text-align: center">Courses List</h1>
    </header>
    <h2>Choose course:</h2>
    <form method="POST" th:action="@{'/courses/filter/'}">
    <select class="form-control" name="type">
        <option th:selected="${session.type != null} ? ${session.type == type} : ${type == 'WINTER'}"
                th:each="type: ${types}"
                th:text="${type}"
                th:value="${type.toString()}">
        </option>
    </select>
        <input type="submit" value="Filter" class="btn btn-success">
    </form>
    <form method="POST" action="/courses/reset">
        <input type="submit" class="btn btn-dark" value="Reset filter">
    </form>
</div>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Teacher</th>
            <th scope="col" style="width: 100px">Description</th>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
            </th:block>
            <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courses}">
            <td>
                <input form="course-form" type="radio" th:value="${course.getCourseId()}"
                       th:name="courseID" th:utext="${course.getName()} + '<br/>'">
            </td>
            <td th:text="${course.getTeacher().getName() != null} ? ${course.getTeacher().toString()}
             : 'No teacher'">

            </td>
            <td style="width: 200px" th:text="${course.getDescription()}">

            </td>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <td>
                <form th:method="DELETE"
                      th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}">
                    <input class="btn btn-danger delete-course" type="submit" value="Delete">
                </form>
            </td>
            <td>
                <form th:method="GET"
                      th:action="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}">
                    <input style="width: 70%" class="btn btn-dark edit-course" type="submit" value="Edit">
                </form>
            </td>
            </th:block>
            <td th:text="${course.getType()}">

            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-danger" th:if="${session.hasError}" th:text="${session.error}" th:id="errorMessage">

    </div>

    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <form id="course-form" th:method="POST" th:action="@{'/courses/select-course'}">
            <input class="btn btn-primary" type="submit" form="course-form">
        </form>
    </th:block>
    <th:block sec:authorize="isAuthenticated()==false || hasRole('ROLE_USER')">
        <form id="course-form" th:method="POST" th:action="@{'/courses/select-course-user'}">
            <input class="btn btn-primary" type="submit" form="course-form">
        </form>
    </th:block>
    <!--</div>-->
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="btn btn-success add-course-btn" href="/courses/add-form">Add new course</a>
    </th:block>
</div>
</div>
