<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add new Student to Course</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <div>
        <div>Logged in as: </div>
        <div th:text="${session.username}"/> (<th:block th:text="${session.name + ' ' + session.lastName}"/>)</div>
    <form method="POST" action="/servlet/logout">
        <button type="submit">Logout</button>
    </form>
    <br>
    <br>
    </div>
    <h1>Student Enrollment - Select the Student </h1>
</header>
<section>
    <form  method="POST" action="/StudentEnrollmentSummary">
        <h2>Select the student to enroll:</h2>
        <a href='/createStudent' type='button'>Create New Student</a> <br/> <br/>

        <input th:type="radio" th:value="${student.getUsername()}" th:name="size" th:each="student: ${students}" th:utext="${student.getName()} + ' ' + ${student.getSurname()} + '<br/>'">

        <br/>

        <button type="submit">Submit</button>
    </form>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Enrollment Status
            </th>
        </tr>
        <tr>
            <td><b>Course Id</b></td>
            <td th:text="${session.courseID}"></td>
        </tr>
    </table>
</aside>

</body>
</html>