<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
<header>
    <h1>Login page</h1>
</header>
<section>
    <form method="POST" th:action="@{/login}">
        <label for='username'>Username:</label><input id='username' type='text' name='username'/><br/>
        <label for='password'>Password:</label><input id='password' type='password' name='password'/><br/>
        <input type='submit' value='Submit'/>
    </form>
</section>
</body>
</html>