<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<div>
    <div>Logged in as: </div>
    <div th:text="${session.username}"/> (<th:block th:text="${session.name + ' ' + session.lastName}"/>)</div>
<form method="POST" action="/servlet/logout">
    <button type="submit">Logout</button>
</form>
<br>
<br>
<header>
    <h1>Students in Course </h1>

    </div>
</header>
<section>
    <div th:text="${course.getName()}"></div>
    <ul>
        <li th:each="student: ${students}"><th:block th:text="${student.getName()}"/> <th:block th:text="${student.getSurname()}"/></li>
    </ul>
    <a href="/listCourses">Back</a>
</section>

</body>
</html>